@{
    ViewBag.Title = "Về chúng tôi - Milano Sơn Hà";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap">
    <div class="content">
        <div class="about-info">
            <h2>Về chúng tôi</h2>
            <a href="#">Đam mê là bất tận!</a>
            <p>Nằm ẩn mình trong một con hẻm nhỏ trên đường Nguyễn Sơn Hà góc Cao Thắng - Võ Văn Tần, ngay trung tâm Thành phố Hồ Chí Minh. Khác với những quán lớn sang trọng ồn ào náo nhiệt, chúng tôi cung cấp dịch vụ cà phê giải khát bình dân với không gian yên tĩnh. Đến quán, quý khách có thể vừa thưởng thức ly cà phê rang xay nguyên chất với hương vị đậm đà khó quên, vừa thưởng thức âm nhạc với những ca khúc vang bóng một thời. </p>
            <a href="/Home/Contact">Xin liên hệ</a>
        </div>
        <div class="specials">
            <div class="specials-heading">
                <h3>Đặc biệt mỗi ngày</h3>
            </div>
            <div class="specials-grids">
                <div class="special-grid">
                    <img src="~/Content/images/special-img4.jpg" title="image-name" alt="" />
                    <a href="#">CÀ PHÊ ĐÁ</a>
                    <p>Đậm đà thơm ngon</p>
                    <h5>Giá :&nbsp;<span>12,000Đ</span></h5>
                </div>
                <div class="special-grid">
                    <img src="~/Content/images/special-img5.jpg" title="image-name" alt="" />
                    <a href="#">CÀ PHÊ SỮA</a>
                    <p>Ngọt ngào quyến rũ</p>
                    <h5>Giá :&nbsp;<span>15,000Đ</span></h5>
                </div>
                <div class="special-grid spe-grid">
                    <img src="~/Content/images/special-img6.jpg" title="image-name" alt="" />
                    <a href="#">NƯỚC TRÁI CÂY</a>
                    <p>Vitamin cho cuộc sống</p>
                    <h5>Giá :&nbsp;<span>18,000Đ</span></h5>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
</div>
