@{
    ViewBag.Title = "Trang chủ - Milano Sơn Hà";
    Layout = "~/Views/Shared/Home.cshtml";
}
<div class="wrap">
    <div class="content">
        <div class="welcome_desc">
            <div class="section group">
                <div class="col_1_of_2 span_1_of_2">
                    <h3>Chào mừng bạn đến với <br> <span>Milano Coffee</span></h3>
                    <p><span>Đối với nhiều người, điểm nhấn đầu tiên trong ngày là mùi vị hấp dẫn của tách cà phê vào buổi sáng. Giờ đây các nhà khoa học cho rằng đã lý giải được nguyên nhân tại sao cà phê khi uống lại không hấp dẫn như mùi vị của nó.</span></p>
                    <p>Chất caffeine trong cà phê khiến con người cảm nhận các yếu tố tích cực trong môi trường xung quanh nhanh và chính xác hơn. Sau khi uống chất caffeine, dường như con người thực hiện những công việc thần kinh đơn giản dễ dàng hơn. Một nghiên cứu trước đây chứng minh rằng, khi thấy những từ mang ý nghĩa tích cực – như “hạnh phúc” – con người sẽ nhận ra chúng nhanh hơn và chính xác hơn so với những từ mang nghĩa tiêu cực – như “buồn”.</p>
                </div>
                <div class="col_1_of_2 span_1_of_2">
                    <div class="grid_img">
                        <img src="~/Content/images/slider5.jpg" alt="" />
                    </div>
                    <div class="price_desc">
                        <a href="#">
                            <div class="price">12.000Đ</div>
                            <div class="price_text"><h4><span>Milano special</span>Cà phê số 1</h4></div>
                            <div class="clear"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-stip"> </div>
        <div class="mid-grid">
            <h2>5 tác dụng bất ngờ của uống cà phê buổi sáng</h2>
            <h3>Thêm giọt đắng thêm nguồn tận hưởng!</h3>
            <h4>Giảm đau</h4>
            <p>Một nghiên cứu gần đây được thực hiện tại trường Đại học Illinois chỉ ra rằng, uống hai đến ba tách cà phê vào khoảng một tiếng trước khi tiến hành các bài tập vận động sẽ giúp giảm các cơn đau cơ. Các nhà khoa học tin rằng, lượng caffeine trong cà phê góp phần tăng cường sức mạnh cũng như sự dẻo dai cho cơ.</p>
            <h4>Tăng cường quá trình tuần hoàn máu</h4>
            <p>Một nghiên cứu được thực hiện tại Nhật Bản về tác dụng của cà phê đối với quá trình tuần hoàn máu của những người không thường xuyên uống cà phê. Theo đó, mỗi người uống khoảng gần 30 ml cà phê. Sau đó, các nhà nghiên cứu xác định quá trình lưu thông của máu tới các ngón tay.</p>
            <p>Kết quả cho thấy, những người uống cà phê thường xuyên tăng khoảng 30% lượng máu lưu thông trong khoảng thời gian hơn 75 phút so với nhóm người không uống cà phê. Sự lưu thông máu tốt hơn đồng nghĩa với việc lượng oxy vận chuyển tới các cơ nhiều hơn.</p>
            <h4>Tăng cường trí nhớ</h4>
            <p>Đại học John Hopkins đã tiến hành một cuộc nghiên cứu và phát hiện chất caffeine trong cà phê có thể tăng cường trí nhớ tỏng ít nhất 24 giờ sau khi con người uống cà phê.</p>
            <h4>Nạp nhiều nhiên liệu hơn cho cơ</h4>
            <p>Một nghiên cứu khác được công bố trên Tạp chí Sinh lý Ứng dụng chỉ ra rằng, một lượng nhỏ caffeine rất hữu ích cho những người phải luyện tập thân thể với cường độ cao, đặc biệt là các vận động viên. Những người bổ sung caffeine tăng 66% hàm lượng glycogen trong cơ. Glycogen đóng vai trò là nguồn năng lượng thiết yếu đối với các buổi tập thể thao tốn sức, giúp bạn tập luyện trong thời gian dài hơn.</p>
            <h4>Bảo vệ cơ</h4>
            <p>Nghiên cứu trên động vật được các nhà khoa học tại trường Đại học Conventry thực hiện cho thấy, caffeine trong cà phê có tác dụng hỗ trợ bù đắp sự suy giảm sức mạnh của cơ theo tuổi tác. Với một hàm lượng vừa phải, cà phê cũng có thể bảo vệ sức khỏe chúng ta, giảm nguy cơ các tổn thương liên quan đến tuổi tác.</p>
            @*<div class="button"><span><a href="#">Read More</a></span></div>*@
        </div>
        <div class="border-stip"> </div>
        <div class="top-grids">
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3 top_grid">
                    <h3>Cảm nhận</h3>
                    <p>Bao lâu để quên một người? Bao lâu để những kỷ niệm ngủ quên trong ký ức? Chỉ biết từ lâu, cà phê chẳng còn đọng lại trong ta những dư vị ngọt ngào khi nhấp nháp. “Nếu có nhiều tiền, anh sẽ làm gì?”. “Anh sẽ mở một quán …</p>
                    <h5>- Sưu tầm</h5>
                    <div class="read_more"><a href="#">Xem thêm</a></div>
                </div>
                <div class="grid_1_of_3 images_1_of_3 top_grid">
                    <h3>Sự kiện</h3>
                    <div class="posts">
                        <div class="date">
                            <figure><span>20</span>TH 1</figure>
                        </div>
                        <div class="post_desc">
                            <p>Khuyến mãi nhân dịp xuân về, uống 3 ly tặng 1 ly vô cùng hấp dẫn<span><a href="#">[...]<span>Xem thêm</span></a></span></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="posts">
                        <div class="date">
                            <figure><span>14</span>TH 2</figure>
                        </div>
                        <div class="post_desc">
                            <p>Giao lưu công nghệ smartphones, tablets mới <span><a href="#">[...]<span>Xem thêm</span></a></span></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="posts">
                        <div class="date">
                            <figure><span>17</span>TH 3</figure>
                        </div>
                        <div class="post_desc">
                            <p>Giới thiệu một số album hay không thể thiếu trong tủ thuốc <span><a href="#">[...]<span>Xem thêm</span></a></span></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <br />
                    <div class="read_more"><a href="#">View all</a></div>
                </div>
                <div class="grid_1_of_3 images_1_of_3 top_grid">
                    <h3>Phục vụ</h3>

                    <p>- Mở cửa: <span style="font-weight:bold">6h30 - 18h30</span></p>
                    <p>- Từ <span style="font-weight:bold">Thứ 2</span> đến <span style="font-weight:bold">Thứ 7</span> hàng tuần</p>
                    <p>- Đường dây nóng:</p>
                    <h4>091.4.380.238</h4>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>