@{
    ViewBag.Title = "Bảng giá - Milano Sơn Hà";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap">
    <div class="content">
        <div class="about-info">
            <h2>Bảng giá</h2>
            <a href="#">Giá cả hợp lý là sự lựa chọn đúng nhất</a>
            <p>Hòa mình vào thê giới cạnh tranh, chúng tôi cân đối và đưa ra bảng giá hợp lý nhất đến quý khách.</p>
        </div>
        <div class="menu_list">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Sáng</h3>
                    <img src="~/Content/images/special-img1.jpg" alt="" />
                    <ul>
                        <li><a href="#"><span class="item_name">Cà phê đá </span><span class="price">12,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Cà phê sữa </span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Chanh dây </span><span class="price">18,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Nước cam</span><span class="price">18,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Trà xanh</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Coca cola</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Pepsi</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Sting</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">7up</span><span class="price">15,000Đ</span></a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Trưa</h3>
                    <img src="~/Content/images/aftnun.jpg" alt="" />
                    <ul>
                        <li><a href="#"><span class="item_name">Cà phê đá </span><span class="price">12,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Cà phê sữa </span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Chanh dây </span><span class="price">18,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Nước cam</span><span class="price">18,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Trà xanh</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Coca cola</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Pepsi</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Sting</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">7up</span><span class="price">15,000Đ</span></a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Chiều</h3>
                    <img src="~/Content/images/evg.jpg" alt="" />
                    <ul>
                        <li><a href="#"><span class="item_name">Cà phê đá </span><span class="price">12,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Cà phê sữa </span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Chanh dây </span><span class="price">18,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Nước cam</span><span class="price">18,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Trà xanh</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Coca cola</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Pepsi</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Sting</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">7up</span><span class="price">15,000Đ</span></a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Tối</h3>
                    <img src="~/Content/images/night.jpg" alt="">
                    <ul>
                        <li><a href="#"><span class="item_name">Cà phê đá </span><span class="price">12,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Cà phê sữa </span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Chanh dây </span><span class="price">18,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Nước cam</span><span class="price">18,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Trà xanh</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Coca cola</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Pepsi</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">Sting</span><span class="price">15,000Đ</span></a></li>
                        <li><a href="#"><span class="item_name">7up</span><span class="price">15,000Đ</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>