@{
    ViewBag.Title = "Dịch vụ - Milano Sơn Hà";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap">
    <div class="content">
        <div class="section group">
            <div class="cont span_2_of_3 services_desc">
                <h2>DỊCH VỤ</h2>
                <p><span>Hãy để chúng tôi phục vụ bạn một cách tốt nhất!</span></p>
                <p>Thấu hiểu nhu cầu của quý khách hàng, đặc biệt các anh chị làm việc văn phòng. Chúng tôi xin cung cấp một số dịch vụ sau:</p>
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <img src="~/Content/images/service-img4.jpg" alt="">
                    </div>
                    <div class="grid span_2_of_1">
                        <h3>Wifi miễn phí </h3>
                        <p>Cấp cấp dịch vụ wifi miễn phí, quý khách có thể lướt net, chat, check mail một cách dễ dàng nhanh chóng mà không tốn bất khì khoản phí nào.</p>
                    </div>
                </div>
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <img src="~/Content/images/service-img5.jpg" alt="">
                    </div>
                    <div class="grid span_2_of_1">
                        <h3>Âm nhạc thư giãn </h3>
                        <p>Thưởng thức âm nhạc với dàn âm thanh Hi-Fi đến từ Châu Âu ngọt ngày quyến rũ. Đến quan chúng tôi bạn sẽ được thưởng thức những bản nhạc vang bóng một thời, mọi cảm giác mệt mỏi sẽ nhanh chóng tan biến theo từng nốt nhạc du dương</p>
                    </div>
                </div>
                <div class="image group">
                    <div class="grid images_3_of_1">
                        <img src="~/Content/images/service-img6.jpg" alt="">
                    </div>
                    <div class="grid span_2_of_1">
                        <h3>Chiếu phim HD </h3>
                        <p>Thưởng thức các bộ phim bom tấn Hollywood trên màn hình độ phân giải HD, âm thanh surround hoành tráng và mạnh mẽ. Quí khách nhu hòa mình vào những pha hành động gay cấn cũng như những khung cảnh lãng mạng trong những bộ phim.</p>
                    </div>
                </div>
                @*<div class="read_more"><a href="#">View All</a></div>*@
            </div>
            @*<div class="lsidebar sidebar offers_list">
                    <h2>What We Offer</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit amet </li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor</li>
                        <li>Labore et dolore magna</li>
                        <li>Lorem ipsum dolor sit amet </li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor</li>
                        <li>Labore et dolore magna</li>
                    </ul>
                    <div class="archives">
                        <h2>Achivements</h2>
                        <ul>
                            <li>March 2012</li>
                            <li>June 2010</li>
                            <li>May 2008</li>
                            <li>January 2005</li>
                            <li>March 2002</li>
                            <li>September 2002</li>
                            <li>August 2001</li>
                            <li>March 1999</li>
                        </ul>
                    </div>
                </div>*@
        </div>
    </div>
</div>
