@{
    ViewBag.Title = "Truy cập bị từ chối";
    Layout = "~/Views/Shared/Error.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <br />
        <br />
        <img src="~/Content/Images/error_lego.png" />
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="alert alert-danger">
            <a href="/Dashboard/" class="close" data-dismiss="alert">&times;</a>
            <strong>Lỗi!</strong> Truy cập bi từ chối.
        </div>
    </div>
</div>
